{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<!-- feed starts -->
<div class="form" action="{% url create %}" method="post">
{% csrf_token %}
  <div class="form__bottom">
    <p class="form-tag-main">メイン</p>
      <div class="FlexTextarea form-input-main">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <textarea class="FlexTextarea__textarea"></textarea>
    </div>          
    <p class="form-tag-name">本の題名</p>
      <div class="FlexTextarea form-input-name">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <textarea class="FlexTextarea__textarea " ></textarea>
    </div>          
    <p class="form-tag-name">著者</p>
      <div class="FlexTextarea form-input-name">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <textarea class="FlexTextarea__textarea"></textarea>
    </div>          
    <p class="form-tag-sub">サブ
    </p>
    <div class="FlexTextarea">
      <div class="FlexTextarea__dummy" aria-hidden="true"></div>
      <textarea class="FlexTextarea__textarea"></textarea>
    </div>
  </div>
  <div class="under-block"></div>
</div>
<!-- feed ends -->
{% endblock %}